.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.bus-seat-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bus-seat {
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-search-container {
  display: flex;
  position: relative;
}

.user-search-input {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.user-search-input input {
  border: none;
  height: 20px;
  padding: 5px;
}

.user-search-input input:focus {
  outline: none;
}

.suggestions-list {
  max-height: 300px;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
}

.suggestions-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.suggestions-list li:last-child {
  border-bottom: none;
}

.suggestions-list li:hover {
  background-color: #ccc;
}

.suggestions-list li img {
  height: 20px;
}

.user-pill {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 16px;
  cursor: pointer;
}

.user-pill img {
  height: 100%;
}
.suggestions-list li.active {
  background-color: #ccc;
}

.otpInput {
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
}


.stepper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  z-index: 2;
}

.step-name {
  font-size: 14px;
}

.active .step-number {
  background-color: #007bff;
  color: #fff;
}

.complete .step-number {
  background-color: #28a745;
  color: #fff;
}

.progress-bar {
  position: absolute;
  top: 25%;
  left: 0;
  height: 4px;
  background-color: #ccc;
}

.progress {
  height: 100%;
  background-color: #28a745;
  transition: 0.2s ease;
}

.board{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 justify-content: center;
}

.game{
  max-width: calc(3 * 100px);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.cell{
  width: 100px;
  height: 100px;
  font-size: 36px;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cell:hover{
  background-color: #f0f0f0;
}

.reset-button{
  padding: 5px 10px;
}